/* Apply styles to the body element */
body {
    font-family: 'Merriweather', serif;
    background-color: #f6f6f6;
    color: #333;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;  /* Added for smooth transition */
}

/* Soft Background and High Contrast */
.high-contrast {
    color: #ff0000;
}

/* Style the navigation bar */
.navbar {
    background-color: #00a6ff;
    color: #fff;
}

/* Style headings */
h1, h2, h3 {
    color: #333;
}

/* Style buttons */
.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #00a6ff;
    color: #fff;
}

/* Apply custom font to buttons */
.btn.custom-font {
    font-family: "Your Desired Font", sans-serif;
}

/* Style tables */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
}

/* Card styling */
.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/* Dark Mode styles */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #333;
}

.dark-mode .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .btn {
    background-color: #666;
    color: #ffffff;
}